
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;

    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;    
}



/******************************************************************************************/
/* HEADER                                                                                 */
/******************************************************************************************/

header {
    height: 150px;

    padding-top: 0.5em;
    padding-left: 1em;

    font-size: 15pt;
    color: lightskyblue;
    text-shadow: darkblue 2px 2px; 

    /* Pista sobre estas propiedades */
    background-image: url('res/header.jpg');
    background-size: cover;

    /* Justo debajo de la cabecera voy a poner artículos. Poner con margen */
    margin-bottom: 10px;
}


/******************************************************************************************/
/* MENÚ SUPERIOR                                                                          */
/******************************************************************************************/

/* https://www.motor.es/noticias/ */

#menusuperior {
    
    /* Aquí defino los colores según procede */
    border-style: solid hidden solid hidden;
    border-width: 2px;
    border-color: lightcyan;
    background-color: darkblue;

    font-size: 14px;    
    font-weight: bold;
    color: lightcyan;    

    height: 4rem;

    margin-bottom: 10px;
}


#sitemenu {
    display: flex;

    
    /* El menu ocupa todo el alto disponible. */
    height: 100%;

    /** Alineo el textoy elementos verticalmente */
    align-items: center;
    justify-content: center;
    text-align: center;

    /* Esto es lo que lo centra */
    margin: 0 auto;
}


#sitemenu ul {
    display: flex;
    flex-direction: row;

    height: 100%;

    padding: 0;
    margin: 0;

    list-style-type: none;    
}


#sitemenu li {
    display: flex;
    height: 100%;
    
    background-color: darkblue;

    padding: 0 15px;
    border-width: 0 2px 0 2px;
    border-style: hidden solid hidden solid;
    border-color: darkblue;

    align-items: center;
    justify-content: center;
}

#sitemenu li:hover {
    background-color: blue;
    border-color: lightcyan;

    border-style: hidden solid hidden solid;
}

#sitemenu a {
    text-decoration: none;
}

#sitemenu .opcion {
    padding: 0 15px;
    color:inherit;
}

#sitemenu .destacado {
    background-color: lightblue;
    border-color: lightblue;
    color: darkblue;
}

#sitemenu .destacado:hover {
    background-color: lightgrey;
    color: lightblue;
}




/******************************************************************************************/
/* BLOQUE DE CONTENIDO                                                                    */
/******************************************************************************************/
#contenido {
    width: 980px;
    margin: 0 auto;
}


/******************************************************************************************/
/* ELEMENTOS EN EL CONTENIDO                                                              */
/******************************************************************************************/

#contenido section > h1 {
    color: darkblue;
    background-color: lightblue;
    padding: 10px 0 10px 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    border-radius: 10px 0 10px 0;

    margin-bottom: 15px;
}

.parrafo h2 {
    color: darkblue;
    background-color: lightblue;
    padding: 5px 0 5px 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    border-radius: 10px 10px 0 0;

    margin-bottom: 5px;
}

.parrafo h2+p {
    font-family: 'Roboto' sans-serif;
    font-size: 12pt;
    text-align: left;
    color: lightblue;
    
    padding: 10px;

    background-color: rgba(0,0,0,.6);

    border-radius: 0 0 10px 10px;
}

/******************************************************************************************/
/* SEPARADOR                                                                              */
/******************************************************************************************/

hr {
    clear: both;

    color: lightsteelblue;
    height: 2px;

    margin-top: 20px;
    margin-bottom: 20px;
}


/******************************************************************************************/
/* Titulares destacados                                                                   */
/******************************************************************************************/

#titularesDestacados {
    display: flex;        

    background-position: center;
    background-size: cover;

    font-weight: bold;
}

#titularesDestacados article {
    display: flex;
    flex-direction: column;

    /* Texto abajo */
    justify-content: end;

    /* Texto a la derecha */
    text-align: right;

    margin: 10px;

    border-color: darkblue;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;    
}

#titularesDestacados #articulo1 {
    
    width: 470px;
    height: 400px;

    background-image: url(res/taigo.jpg);
    background-position: inherit;
    background-size: inherit;    
}

#titularesDestacados #articulo1 .titulo {
    font-size: 18pt;
}

#titularesDestacados #articulo1 .autor {
    font-size: 14pt;
}

#titularesSecundarios {
    display: flex;
    flex-wrap: wrap;

    width: 470px;
    height: 400px;
}

#titularesSecundarios article {
    width: 215px;
    height: 190px;

    background-position: center;
    background-size: cover;
}

#titularesSecundarios article .titulo {
    font-size: 12pt;
}

#titularesSecundarios article .autor {
    font-size: 10pt;
}

#titularesDestacados article a {
    text-decoration: none;
}

#titularesDestacados article p {
    margin: 0 10px 0 10px;
    padding-bottom: 5px;    
}

#titularesDestacados .titulo {
    color: white;
    text-shadow: 1px 1px darkgray;
    background: rgba(0,0,0,.6);
}

#titularesDestacados .autor {
    color: lightblue;
    text-shadow: 1px 1px darkblue;
    background: rgba(0,0,0,.6);
}

#titularesDestacados #articulo2 {    
    background-image: url(res/estaciones_recarga.jpg);
}

#titularesDestacados #articulo3 {    
    background-image: url(res/marcas_populares.jpg);
}

#titularesDestacados #articulo4 {
    background-image: url(res/coche_sostenible.jpg);
}

#titularesDestacados #articulo5 {
    background-image: url(res/renault4-remake.jpg);
}

#titularesDestacados article:hover {
    border-color: lightblue;
}

#titularesDestacados #articulo1:hover .titulo {
    color: lightblue;
}

#titularesDestacados article:hover .autor {
    color: lightblue;
}


/******************************************************************************************/
/* GRID MARCAS SEGUNDA MANO                                                               */
/******************************************************************************************/

#segundaMano > div {
    display: flex;

    background-image: url(res/segundamano.jpg);
    background-position: center;
    background-size: cover;

    border-radius: 0 0 10px 10px;
    padding: 10px;    
}

#gridMarcas {
    display: grid;

    /* 10 columnas de 100px */
    grid-template-columns: repeat(7, 94px);    
    grid-template-rows: repeat(3, 94px);

    margin-left: 15px;
    margin-right: 15px;
}

#gridMarcas .ficha {
    display: flex;

    border-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 2px;
}

#gridMarcas .ficha:hover {
    border-color: yellow;
}

#gridMarcas .ficha:nth-child(1) {
    grid-column: 2;    
    grid-row: 2;
}

#gridMarcas .ficha:nth-child(2) {
    grid-column: 1;    
    grid-row: 3;
}

#gridMarcas .ficha:nth-child(3) {
    grid-column: 3;    
    grid-row: 3;
}

#gridMarcas .ficha:nth-child(4) {
    grid-column: 6;    
    grid-row: 2;
}

#gridMarcas .ficha:nth-child(5) {
    grid-column: 7;    
    grid-row: 3;
}

#gridMarcas .ficha:nth-child(6) {
    grid-column: 5;    
    grid-row: 1;
}

#gridMarcas .ficha:nth-child(7) {
    grid-column: 5;    
    grid-row: 3;
}

#gridMarcas .ficha:nth-child(8) {
    grid-column: 3;    
    grid-row: 1;
}

#gridMarcas .ficha:nth-child(9) {
    grid-column: 4;    
    grid-row: 2;
}


/******************************************************************************************/
/* Titulares */
/******************************************************************************************/

.titular {
    border-color: lightblue;
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    border-radius: 10px;

    margin-bottom: 5px;
}

.titular:hover {
    border-color: blue;
}

.titular img {
    float: left;

    width: 65px;
    height: 40px;    

    margin: 0 5px 5px 0;

    border-radius: 10px;
}

.titular h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    margin-bottom: 8px;
}

.titular .resumen {
    font-size: 10pt;
}


/******************************************************************************************/
/* NUESTROS SERVICIOS */
/******************************************************************************************/

#nuestrosServicios {
    display: flex;    

    justify-content: space-evenly;
}

#nuestrosServicios article {    
    display: flex;

    width: 220px;
    height: 150px;

    font-size: 15pt;
    color: lightblue;
    text-shadow: 2px 2px darkblue;

    /* Utiliza flexbox para centrar el texto */
    align-items: center;
    justify-content: center;
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    border-width: 5px;
    border-style: hidden;
}

#nuestrosServicios article:hover {    
    /* Al cambiar el borde de hidden a solid tengo menos espacio para la imagen */
    border-color: lightblue;
    border-style: solid;
}

#nuestrosServicios article p {    
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px 0 10px;
}

#nuestrosServicios article:nth-child(1) {    
    background-image: url('res/reparo.jpg');
}

#nuestrosServicios article:nth-child(2) {    
    background-image: url('res/parque.jpg');
}

#nuestrosServicios article:nth-child(3) {    
    background-image: url('res/mejor.jpg');
}

#nuestrosServicios article:nth-child(4) {    
    background-image: url('res/seguro.webp');
}


/*******************************************************************************************/
/** Pie del sitio web                                                                      */
/*******************************************************************************************/

footer {    
    clear: both;

    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;

    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

footer section { 
    display: flex;
    flex-direction: column;
}

footer h1 { 
    font-size: 1em;
    margin-bottom: 10px;
}

footer a { 
    text-decoration: none;    
    font-size: 0.8em;
    margin: 2px 0;;
}

footer a:hover { 
    text-decoration: underline;
}

