

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;

    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;    
}


/******************************************************************************************/
/* MENÚ SUPERIOR                                                                          */
/******************************************************************************************/

#menusuperior {
    
    /* Aquí defino los colores según procede */
    border-style: solid hidden solid hidden;
    border-width: 1px;
    border-color: gray;

    color: gray;    
}


#sitemenu {
    display: flex;

    /* Esto poner en el examen como ayuda. Es necesario para que quede centrado */
    width: fit-content;

    /* Esto es lo que lo centra */
    margin: 0 auto;
}

#sitemenu > a {
    display: block;

    padding: 10px 20px;

    color:inherit;
    text-decoration: none;
}

#sitemenu > .opcion:hover {
    /* Para que no haya desplazamiento, lo que meto de borde lo quito de padding */
    border-top-width: 5px;
    border-top-style: solid;

    /* Resta de padding lo que pone de borde */
    padding-top: 5px;
}

#sitemenu > button {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    
    padding: 10px;
}

/* Esto para cambiar las propiedades de la fuente. Indicar donde se puede ver la ayuda
   sobre como hacerlo */
#sitemenu > button > i {
    color: gray;
    height: max-content;
}

#sitemenu .destacado {
    background-color: lightseagreen;
    color: darkblue;
}

#sitemenu .destacado:hover {
    background-color: darkblue;
    color: lightseagreen;
}

/******************************************************************************************/
/* BLOQUE DE CONTENIDO                                                                    */
/******************************************************************************************/


#contenido {
    width: 980px;
    margin: 0 auto;
}


/******************************************************************************************/
/* HEADER                                                                                 */
/******************************************************************************************/

header {
    height: 150px;

    padding-top: 1em;
    padding-left: 0.5em;

    text-shadow: white 3px 3px; 

    /* Pista sobre estas propiedades */
    background-image: url('res/encabezado.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    /* Justo debajo de la cabecera voy a poner artículos. Poner con margen */
    margin-bottom: 10px;

    /* Para pruebas */
    background-color: tomato;    
}

/******************************************************************************************/
/* SEPARADOR                                                                              */
/******************************************************************************************/

hr {
    clear: both;

    color: lightsteelblue;
    height: 2px;

    margin-top: 20px;
    margin-bottom: 20px;
}



/******************************************************************************************/
/* Titulares destacados                                                                   */
/******************************************************************************************/

#contenido article .autor {
    font-family: monospace;
    text-decoration: underline;    

    color: inherit;    
}

.portada1 .foto {
    width: 200px;
    height: 200px;

    float: left;    

    border-radius: 10px;

    margin: 20px;    
}

.portada1 p {
    font-size: 15pt;

    font-family: 'Comforter Brush', cursive;

    margin-bottom: 20px;
}

.portada2 .foto {
    width: 200px;
    height: 200px;

    float: right;    

    border-radius: 10px;

    margin: 20px;    
}

.portada2 p {
    font-size: 15pt;

    font-family: 'Roboto', sans-serif;

    margin-bottom: 20px;
}


/******************************************************************************************/
/* Titulares destacados                                                                   */
/******************************************************************************************/

#titularesDestacados {
    display: flex;
}

/* El primero ocupa todo el área vertical */
#titularesDestacados .principal {
    width: 640px;
    height: fit-content;


    background-color: #FAFAFA;

    padding: 10px;
}

#titularesDestacados > .filler {
    width: 20px;
}

#titularesDestacados .principal > img {
    width: 100%;
    height: 550px;    

    margin-bottom: 20px;
}

#titularesDestacados .principal > h1 {
    font-size: 20pt;
    margin-bottom: 10px;
}

#titularesDestacados .principal > p {
    font-size: 12pt;
}

/* El primero ocupa todo el área vertical */
#titularesDestacados .secundario {
    display: flex;
    flex-direction: column;

    width: 320px;
}

#titularesDestacados .secundario > article {
    width: 100%;
    height: fit-content;

    background-color: #FAFAFA;

    padding: 10px;

    margin-bottom: 30px;
}

#titularesDestacados .secundario > article > img{
    width: 100%;
    height: 150px;

    margin-bottom: 5px;
}

#titularesDestacados .secundario h1 {
    font-size: 18pt;

    margin-bottom: 10px;
}

#titularesDestacados .secundario p {
    font-size: 12pt;
}

#titularesDestacados .autor {
    font-family: monospace;
    text-decoration: underline;    

    color: inherit;
}

/******************************************************************************************/
/* CUATRO EN LINEA FLEX                                                                   */
/******************************************************************************************/

#sucesosHorizontal {
    display: flex;    

    justify-content: space-evenly;
}

#sucesosHorizontal article {    
    display: flex;

    width: 200px;
    height: 200px;

    font-size: 20pt;
    color: white;
    text-shadow: gray 3px 3px;

    /* Utiliza flexbox para centrar el texto */
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

#sucesosHorizontal article:nth-child(1) {    
    background-image: url('res/suceso1.jpg');
}

#sucesosHorizontal article:nth-child(2) {    
    background-image: url('res/suceso2.jpg');
}

#sucesosHorizontal article:nth-child(3) {    
    background-image: url('res/suceso3.jpg');
}

#sucesosHorizontal article:nth-child(4) {    
    background-image: url('res/suceso4.jpg');
}

/******************************************************************************************/
/* AJEDREZ GRID                                                                           */
/******************************************************************************************/

#ajedrez {
    display: grid;

    /* 10 columnas de 100px */
    grid-template-columns: repeat(10, 98px);    
    grid-template-rows: repeat(3, 98px);
}

#ajedrez .ficha {
    display: flex;

    /* Utiliza flexbox para centrar el texto */
    align-items: center;
    justify-content: center;

    font-size: 20pt;
    text-shadow: white 3px 3px;

    background-color: lightblue;
}

#ajedrez .ficha:hover {
    background-color: lightgray;
}

#ajedrez .ficha:nth-child(1) {
    grid-column: 1;    
    grid-row: 1;
}

#ajedrez .ficha:nth-child(2) {
    grid-column: 1/3;    
    grid-row: 3;
}

#ajedrez .ficha:nth-child(3) {
    grid-column: 4;    
    grid-row: 1/4;
}

#ajedrez .ficha:nth-child(4) {
    grid-column: 6/8;    
    grid-row: 2;
}

#ajedrez .ficha:nth-child(5) {
    grid-column: 8;    
    grid-row: 1;
}

#ajedrez .ficha:nth-child(6) {
    grid-column: 9;    
    grid-row: 2;
}

#ajedrez .ficha:nth-child(7) {
    grid-column: 10;    
    grid-row: 3;
}

/******************************************************************************************/
/* Publicidad barata                                                                      */
/******************************************************************************************/

#publicidadBarata {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}


#publicidadBarata img {
    width: 150px;
    height: 150px;

    margin: 10px;
}


/*******************************************************************************************/
/** Pie del sitio web                                                                      */
/*******************************************************************************************/

footer {    
    clear: both;

    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    padding-top: 2em;    

    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

footer div { 
    display: flex;
    flex-direction: column;
}

footer h1 { 
    font-size: 1em;
}

footer a { 
    text-decoration: none;    
    font-size: 0.8em;
    margin: 2px 0;;
}

footer a:hover { 
    text-decoration: underline;
}

