
$bg-color: #df0174;
$size: 1em;

body {
    background-color: $bg-color;
    margin: $size * 2;
    color: #df0174;
}

.caja-redondeada {
    margin: 5px;
    border-radius: 10px;
  }

.caja-azul {
background-color: blue;
}
      

.caja-roja {
background-color: red;
}

.caja-verde {
    background-color: green;
    }
    

.mi-caja {
    @extend .caja-redondeada;
    @extend .caja-roja;

    background-color: black;
}