body {
  background-color: #df0174;
  margin: 2em;
  color: #df0174;
}

.caja-redondeada, .mi-caja {
  margin: 5px;
  border-radius: 10px;
}

.caja-azul {
  background-color: blue;
}

.caja-roja, .mi-caja {
  background-color: red;
}

.caja-verde {
  background-color: green;
}

.mi-caja {
  background-color: black;
}
