/* El objetivo del examen es imitar el sitio web que se ha mostrado en clase. 
   Para hacerlo, se te facilitan este archivo y el HTML al lado. En este archivo
   te iré indicando lo que tienes que ir haciendo. En el HTML también incluiré comentarios
   para que sepas donde insertar cada parte.
   
   A continuación tienes criterios de corrección generales que se van a aplicar 

- P1 No se visualiza correctamente: -2
- P2 No responde a las especificaciones: -2
- P3 Errores de indentación: -0.5
- P4 Sin comentarios explicativos: -0.5
- P5 No incluir titulo, descripción, autor, encoding, lenguaje, etc: -0.5
- P6 Utilizar display:block cuando estamos trabajando con un bloque: -0.5
- P7 No usar bloques o elementos con el significado por encima de los genéricos: 0.5
- P8 Anidamiento de bloque innecesario: -0.5
- P9 Atributos innecesarios en funcuión del tipo de elemento. EJ. un bloque con width 100%. -0.5
- P10 Utilizar un diseño que dificulta el mantenimiento. -0.5
- P11 Definir selectores genéricos para aplicar estilos a partes concretas del documento. -1
- P12 Formatear con HTML no con CSS. -5
- P13 Utiliza un elemento donde no está permitido o con una finalidad incorrecta: -1
- P14 Usa !important: -1

--------------

Puntuaciones de los ejercicios 

- EJERCICIO 1 - Importa las fuentes			0.5
- EJERCICIO 2 - Configuración general 		0.5
- EJERCICIO 3 - Menú superior				1.5
	- EJERCICIO 3.1 - Contenedor
	- EJERCICIO 3.2 - Menú 
	- EJERCICIO 3.2 - Opciones
	- EJERCICIO 3.2 - Iconos
	- EJERCICIO 3.2 - Destacado
- EJERCICIO 4 - Bloque de contenido			0.25
- EJERCICIO 5 - Header						0.5				
- EJERCICIO 6 - Separador					0.25
- EJERCICIO 7 - Portada						1
- EJERCICIO 8 - Destacados					1.5
	- 8.1 contenedor
	- 8.2 artículo central
	- 8.3 filler
	- 8.4 artículos en vertical
- EJERCICIO 9 - Cuatro en línea				1
- EJERCICIO 10 - GRID 						1.5
- EJERCICIO 11 - Publicidad					0.5
- EJERCICIO 12 - PIE						1

*/


/******************************************************************************************/
/* CONFIGURACION GENERAL                                                                  */
/******************************************************************************************/


/* EJERCICIO 1 -- Importa las fuentes de google
    - Roboto
    - Comforter Brush
    - Fontawesome (iconos)
*/




/* EJERCICIO 2 -- Configuración general 
    
    - Configura el modelo de caja para utilizar border-box
    - margen 0
    - Fuente para todo el documento: Verdana 
    - tamaño de fuente para todo el documento 20px
*/




/******************************************************************************************/
/* MENÚ SUPERIOR                                                                          */
/******************************************************************************************/

/* EJERCICIO 3.1 -- Menú superior 
    
    - El contenedor ocupa todo el ancho de la página 
    - Tiene bordes superior e inferior
    - Tamaño de borde 1px
    - color de borde gray
    - color de texto gray
*/



/* EJERCICIO 3.2 -- Menú del sitio
    - Utiliza flex para organizar el contenido.
    - Este contenedor ocupa solo el ancho que ocupa el contenido. Prueba con alguno de los valores
        a asignar a width
    - Recuerda que debes centrarlo en la página
*/



/* EJERCICIO 3.3 -- Opciones del menú 
    - padding 10px superior e inferior y 20px por los lados
    - El color de texto debe heredarlo del padre
    - Al pasar el ratón por encima, se debe jugar con el borde. Borde de 5px en la parte superior
        recuerda que esto puede afectar al tamaño del menú por o que puedes tener que restar el tamaño del 
        borde de otro sitio.
*/


/* EJERCICIO 3.4 -- Iconos
    - Tenemos que insertar un par de iconos con fa.
    - borde de 1px
    - color de borde gray
    - padding de 10px
*/


/* EJERCICIO 3.5 -- Destacado
    - Botón del menú destacado
    - Color de texto: darkblue
    - Color de fondo: lightseagreen
    - Cuando se pasa el ratón por encima se deben invertir
*/




/******************************************************************************************/
/* BLOQUE DE CONTENIDO                                                                    */
/******************************************************************************************/

/* EJERCICIO 4 - Configura el bloque de contenido principal.
    - Ancho 980px
    - Debe estar centado en la página
*/




/******************************************************************************************/
/* HEADER                                                                                 */
/******************************************************************************************/

/* EJERCICIO 5 - header 
    - Tendrá una altura de 150px
    - Relleno superior 1em e inferior de 0.5em
    - Se definirá una sombra para el texto de color blanco con un desplazamiento
      en ambos ejes de 3px
    - La imagen que se utilizará será encabezado.jpg
    - Se configurará un margen inferior de 10 pixels

*/



/******************************************************************************************/
/* SEPARADOR                                                                              */
/******************************************************************************************/

/* EJERCICIO 6 - Separador utilizado para separar los elementos de la web
    - Debe hacer clear de ambos lados
    - Color del separador lightsteelblue
    - Deberá ser de 2px de ancho
    - Tendrá un margen superior e inferior de 20px
*/





/******************************************************************************************/
/* Titulares destacados                                                                   */
/******************************************************************************************/

/* EJERCICIO 7 - portada
    
    - El autor tendrá fuente monospace y subrayado.    
*/

/* EJERCICIO 7.1 foto 
    - AnchoxAlto = 200x200 pixels
    - Tendrás que utilizar el método adecuado para colocarlo a la izquierda y el que el texto lo rodee
    - El radio del borde es 10 pixels
    - Margen de 20 pixels
*/


/* EJERCICIO 7.2 Título 
    - Será un título
*/


/* EJERCICIO 7.3 Autor 
    - fuente monospace
    - estará subrayado
    - heredará el color del padre
*/

/* EJERCICIO 7.4 Texto 
    - Tamaño de fuente 15pt
    - Fuente: 'Comforter Brush'
    - margen inferior de 20 pixels
*/




/* EJERCICIO 7.5 foto  
    - similar al 1 pero a la derecha
*/

/* EJERCICIO 7.6 Título - igual que el anterior */

/* EJERCICIO 7.7 Autor - Igual que el anterior */

/* EJERCICIO 7.8 Texto 
    - 15 puntos
    - Roboto
*/




/******************************************************************************************/
/* Titulares destacados                                                                   */
/******************************************************************************************/

/* EJERCICIO 8 - Titulares destacados */

/* EJERCICIO 8.1 Configura el contenedor 
    - Utiliza el modelo de caja flexible
*/


/* EJERCICIO 8.2 - Artículo central 
    - Ancho del artóculo 640 pixels
    - Altura utiliza el valor fit-content
    - color de fondo FAFAFA
    - relleno 10 pixels
*/

/* EJERCICIO 8.2.1 - Imagen 
    - que ocupe todo el ancho disponible
    - alto 550 pixels
    - margen inferior de 20px
*/

/* EJERCICIO 8.2.2 - Título 
    - Tamaño de fuente de 20 puntos
    - margen inferior de 10 puntos
*/

/* EJERCICIO 8.2.3 - Autor
    - Fuente monospace
    - texto subrayado
    - Hereda el color del padre
*/

/* EJERCICIO 8.2.4 - Texto 
    - Tamaño de fuente de 12 puntos
*/


/* EJERCICIO 8.3 - Filler 
    Ancho del filler de 20 pixels
*/



/* EJERCICIO 8.4 - Contenedor para artículos a la derecha 
    - Modelo de caja flexible
    - Los debe colocar uno encima del otro
    - ancho del contenedor será 320 pixels
*/

/* EJERCICIO 8.4.1 - Configuración del artículo 
    - Debe ocupar todo el ancho disponible
    - La altura debe tener el valor fit-content
    - El color de fondo será FAFAFA
    - Relleno de 10 pixels
    - El margen inferior será de 30px
*/

/* EJERCICIO 8.4.1.1 - Imagen */

/* EJERCICIO 8.4.1.2 - Título */

/* EJERCICIO 8.2.1.3 - Autor
    Igual que en el primer artículo. No se debe duplicar la regla
*/

/* EJERCICIO 8.4.1.4 - Texto */


/******************************************************************************************/
/* CUATRO EN LINEA                                                                        */
/******************************************************************************************/

/* EJERCICIO 9 */

/* EJERCICIO 9.1
    - Configura el contenedor para utilizar el modelo de caja flexible
    - Reparte el espacio libre de forma equitativa
*/

/* EJERCICIO 9.2 - Propiedades de los artóculos
   - Utiliza el modelo de caja flexible para centrar el texto
   - AnchoxAlto = 200x200
   - Tamaó de fuente 20 puntos
   - Color de fuente blanco
   - Sombra gris con un desplazamiento de 3 pixels en ambos ejer
   - 10 pixels de radio de borde
   - La imagen estará en el fondo y debe estar ajustada
   - Utiliza nth-child() para asignar la imagen a cada una de las noticias
*/


/******************************************************************************************/
/* AJEDREZ GRID                                                                           */
/******************************************************************************************/

/* EJERCICIO 10 */

/* EJERCICIO 10.1 
    - Distribuye el contenido de acuerdo a una rejilla de 10x3 celdas de 98x98 pixels 
    - Utiliza repeat si puedes
*/

/* EJERCICIO 10.2 - Propiedades de cada una de las fichas
    - Utiliza flex para centrar el texto
    - Tamaño de fuente 20 puntos
    - Sombra blanca con un desplazamiento de 3 pixels en ambos ejes
    - Color de fondo lightblue  
    - Al pasar por encima el ratón color de fondo lightgray
*/

/* EJERCICIO 10.3 - Coloca las fichas como se ve en el resultado */


/******************************************************************************************/
/* Publicidad barata                                                                      */
/******************************************************************************************/

/* EJERCICIO 11 
    - Coloca los banners. Organiza el espacio con flex teniendo en cuenta que los que 
    no quepan pasan a la siguiente línea y que el espacio libre se debe repartir de forma equitativa
    - Cada banner debe ser de 150x150 pixels y tener un margen de 10 puxels
*/


/*******************************************************************************************/
/** Pie del sitio web                                                                      */
/*******************************************************************************************/

/* EJERCICIO 12 
    - Utiliza flex para organizar el contenido
    - Fuente en todo el pie será Roboto
    - El tama´ño de fuente será 1em en la cabecera
    - El tamaño será de 0.8 em en los enlaces
    - Cada enlace tendrá un margen de 2 pixels arriba y abajo y 0 en los laterales
*/

