/* El objetivo del examen es imitar el sitio web que se ha mostrado en clase. 
   Para hacerlo, se te facilitan este archivo y el HTML al lado. En este archivo
   te iré indicando lo que tienes que ir haciendo. En el HTML también incluiré comentarios
   para que sepas donde insertar cada parte.
   
   A continuación tienes criterios de corrección generales que se van a aplicar 

- P1 No se visualiza correctamente: -2
- P2 No responde a las especificaciones: -2
- P3 Errores de indentación: -0.5
- P4 Sin comentarios explicativos: -0.5
- P5 No incluir titulo, descripción, autor, encoding, lenguaje, etc: -0.5
- P6 Utilizar display:block cuando estamos trabajando con un bloque: -0.5
- P7 No usar bloques o elementos con el significado por encima de los genéricos: -1
- P8 Anidamiento de bloque innecesario: -0.5
- P9 Atributos innecesarios en funcuión del tipo de elemento. EJ. un bloque con width 100%. -0.5
- P10 Utilizar un diseño que dificulta el mantenimiento. -0.5
- P11 Definir selectores genéricos para aplicar estilos a partes concretas del documento. -1
- P12 Formatear con HTML no con CSS. -5
- P13 Utiliza un elemento donde no está permitido o con una finalidad incorrecta: -1
- P14 Usa !important: -1

--------------

Puntuaciones de los ejercicios 

- EJERCICIO 1 - Importa las fuentes			                    0.25
    - EJERCICIO 1.1 Importa fuentes de google
    - EJERCICIO 1.2 Importa fontawesome

- EJERCICIO 2 - Configuración general 		                    0.25
    - EJERCICIO 2.1 Configuración CSS
    - EJERCICIO 2.2 Importa el archivo CSS
    - EJERCICIO 2.3 Estructura del documento HTML.            
        - Indica que es html
        - Indica que está en español
        - Codificación UTF-8
        - Autor 
        - Descripción
        - Título

- EJERCICIO 3 - Header						                    0.25				

- EJERCICIO 4 - Menú superior				                    1.75
	- EJERCICIO 4.1 - Contenedor del menú
	- EJERCICIO 4.2 - Menú 
	- EJERCICIO 4.3 - Opciones
        - EJERCICIO 4.3.1 - Configuración del contenedor
        - EJERCICIO 4.3.2 - Configuración de las opciones
	- EJERCICIO 4.4 - Iconos
	- EJERCICIO 4.5 - Destacado

- EJERCICIO 5 - Bloque de contenido			                    0.25

- EJERCICIO 6 - Elementos en el contenido                       0.5
    - 6.1 Título de sección
    - 6.2 Título de un párrafo
    - 6.3 Contenido de un párrafo

- EJERCICIO 7 - Separador					                    0.25

- EJERCICIO 8 - Destacados					                    1.75
	- 8.1 contenedor
    - 8.2 Configuración de los articulos
	- 8.3 Artíoculo principal
        - 8.3.1 titulo
        - 8.3.2 autor
	- 8.4 Contenedor de artículos secundarios 
    - 8.5 Configuración de artículos secundarios
        - 8.5.1 titulo
        - 8.5.2 autor
    - 8.6 Imagenes de fondo
    - 8.7 Resaltar los elementos

- EJERCICIO 9 - Segunda mano				                    1.75
    - 9.1 - Contenedor de sección
    - 9.2 - Rejilla marcas
        - 9.2.1 - Iconos
            - 9.2.1.1 - Iconos al pasar el ratón
            - 9.2.1.2 - Colocar los iconos

- EJERCICIO 10 - TITULARES				                        1.25
    - 10.1 - Contenedor de un titular
    - 10.2 - Contenedor al pasar el ratón por encima
    - 10.3 - Imagen
    - 10.4 - Titulo
    - 10.5 - Resumen

- EJERCICIO 11 - Nuestros servicios					            1.25
    - 11.1 - Contenedor
    - 11.2 - Servicio
    - 11.2.1 - Servicio al pasar el ratón por encima
    - 11.2.2 - Texto
    - 11.2.3 - Imágenes

- EJERCICIO 12 - PIE						                    0.5

*/



/******************************************************************************************/
/* FUENTES                                                                                 */
/******************************************************************************************/
/* EJERCICIO 1.1 -- Importa las fuentes de google
    - Lato
    - Roboto
 */

 /* EJERCICIO 1.2 -- Importa fontawesome    */


/******************************************************************************************/
/* CONFIGURACION GENERAL                                                                                 */
/******************************************************************************************/


 /* EJERCICIO 2.1 -- Configuración CSS     
    - Configura el modelo de caja para utilizar border-box
    - margen 0
    - Fuente por defecto para todo el documento: Verdana 
    - tamaño de fuente por defecto para todo el documento 12pt
*/


/******************************************************************************************/
/* HEADER                                                                                 */
/******************************************************************************************/

/* EJERCICIO 3 - Header 
    - Altura de 150px
    - Relleno superior de 0.5 em
    - Relleno izquierdo 1 em
    - Tamaño de fuente 15 puntos
    - Color de texto lightskyblue
    - Sombra de texto en color darkblue desplazada 2 pixels en cada eje
    - Imagen de fondo header.jpg ajustada para cubrir el contenedor completamente
    - Margen inferior de 10 pixels
*/


/******************************************************************************************/
/* MENÚ SUPERIOR                                                                          */
/******************************************************************************************/

/* EJERCICIO 4.1 -- Contenedor del menú 
    
    - Ocupa todo el ancho de la ventana
    - Tiene un borde superior e inferior
    - Ancho de borde 2 pixels
    - Color de borde lightcyan
    - Color de fondo darkblue
    - Tamaño de fuente 14 pixels en negrita
    - Color de fuente lightcyan
    - El alto debe ser 4 rem
    - Margen inferior de 10 pixels

*/

/* EJERCICIO 4.2 -- Menú
    - Utiliza flex para organizar el contenido
    - El contenido debe estar centrado vertical y horizontalmente
    - El menú debe estar centrado en su contenedor
*/

/* EJERCICIO 4.3.1 -- Opciones - Configuración del contenedor

    - Utiliza flex para organizar las opciones del menú
    - Relleno horizontal y vertical 0
    - Elimina la viñeta de la lista

*/

/* EJERCICIO 4.3.2 -- Opciones - Configuracón de las opciones
    - Las opciones deben llenar todo el alto
    - Utiliza flex para centrar el contenido vertical y horizontalmente
    - Color de fondo darkblue
    - Relleno inferior y superior de 15 pixels
    - Ancho de borde superior e inferior de 2 pixels
    - Al pasar sobre las opciones, el borde debe ser visible del color lightcyan
    - No debe desplazarse el texto de las opciones al pasar por encima
    - El texto de los enlaces no debe tener ninguna decoración
    - Las opciones deben tener un padding horizontal de 15 pixels a cada lado
    - Deben heredar el color de texto del padre
*/


/* EJERCICIO 4.4 -- Iconos 
    Si necesitas aplicar alguna regla a los iconos inclúyela aquí
*/


/* EJERCICIO 4.5 -- Dstacado
    - Utiliza el color de fondo lightblue
    - Color de borde lightblue
    - Color de texto darkblue    
    - Al pasar por encima con el ratón el color de fondo debe cambiar a 
        lightgrey y el de texto a lightblue

*/



/******************************************************************************************/
/* BLOQUE DE CONTENIDO                                                                    */
/******************************************************************************************/

/** EJERCICIO 5 - Bloque de contenido 
    - Va a tener un ancho fijo de 980 pixels
    - El bloque de contenido debe estar centrado en el espacio disponible
*/


/******************************************************************************************/
/* ELEMENTOS EN EL CONTENIDO                                                              */
/******************************************************************************************/

/* EJERCICIO 6 - Elementos del contenido 
    En este ejercicio vamos a crear algunas reglas para configurar ciertos elementos dentro
    del documento HTML. Para simplificar la tarea he dejado el HTML asociado a estos
    elementos con el selector correcto
*/

/* EJERCICIO 6.1 - Título de sección
    - Escoge un selector que seleccione todos los elementos h1 que sean 
    HIJOS DIRECTOS de un elemento section que está a su vez dentro del 
    elemento #contenido
    - Deberás aplicar las siguientes propiedades al elemento h1 seleccionado
        - Color de texto darkblue
        - Color de fondo lightblue
        - Relleno en el eje vertical 10 pixels
        - Relleno inverior 20 pixels y superior 0
        - Fuente Roboto en negrita
        - Borde redondeado como se ve en la imagen. 
        - Margen ingerior 15 pixels
 */

/* EJERCICIO 6.2 - Título de un parrafo
    - Define una regla que aplique el estilo a una etiqueta h2 que sea hija
    directa de un elemento con la clase .parrafo.
    - Dicha regla debe aplicar las siguientes propiedades
        - color de texto darkblue
        - color de fondo lightblue
        - Relleno superior e inferior de 5 pixels 
        - Relleno izquierdo de 20 pixels y derecho de 0
        - Fuente roboto en negrita
        - Redondeado en la parte superior con un radio de 10px
        - Margen inferior de 5px
*/

/* EJERCICIO 6.3 - Contenido de un parrafo
    - Define una regla que se aplique a un elemento p dentro de un elemento con la clase
    .parrafo y que además esté justo a continuación de un elemento h2
    - Deberá aplicar las siguientes propiedades
        - Fuente roboto
        - Tamaño 12pt
        - Alineación de texto a la izquierda
        - Color de texto lightblue
        - Relleno 10 pixels
        - Color de fondo negro con alpha 0.6. Debes utilizar la función rgba
        - Debe estar redondeado en la parte inferior con un radio de 10px
*/

/******************************************************************************************/
/* SEPARADOR                                                                              */
/******************************************************************************************/


/* EJERCICIO 7 - Separador utilizado para separar los elementos de la web
    - Debes insertar el elemento en el HTML donde viene indicado 
    - Debe hacer clear de ambos lados
    - Color del separador lightsteelblue
    - Deberá ser de 2px de alto
    - Tendrá un margen superior e inferior de 20px
*/


/******************************************************************************************/
/* Titulares destacados                                                                   */
/******************************************************************************************/

/** EJERCICIO 8 -- Titulares destacados */

/** EJERCICIO 8.1 -- Contenedor 
    - Utiliza flex para organizar el contenido
    - Fuente negrita
    - Configura imagen de fondo para que se adapte para ocupar todo el contenedor
*/

/** EJERCICIO 8.2 -- Configuración de los articulos 
    - Estas propiedades deben aplicarse a todos los artículos enn este bloque del documento
    - Utiliza flex para organizar el contenido
    - El texto debe ponerse en la parte inferior del contenedor
    - El texto debe estar alineado a la derecha
    - Margen de 10 pixels
    - Color de borde darkblue
    - Ancho de borde de 2 pixels
    - Bordes redondeados de 10 px
    - El borde debe ser visible
*/

/* EJERCICIO 8.2.1 
    - Aplicar regla a todos los elementos "a" dentro de un articulo de este bloque
    - Eliminar las decoraciones de texto
 */

/* EJERCICIO 8.2.2
    - Aplicar regla a todos los elementos "p" dentro de un articulo de este bloque
    - Margen de 10 pixels a izquierda y derecha
    - Relleno inferior de 5 pixels
 */

/* EJERCICIO 8.2.3
    - Aplicar regla a todos los elementos que sean de la clase .titulo
    - color de texto white
    - Sombra darkgray con desplazamiento 1 pixel en ambos ejes
    - Color de fondo negro con alpha 0.6. Utiliza rgba para asignar el valor
 */

/* EJERCICIO 8.2.4
    - Aplicar regla a todos los elementos que sean de la clase .autor
    - color de texto lightblue
    - Sombra darkblue con desplazamiento 1 pixel en ambos ejes
    - Color de fondo negro con alpha 0.6. Utiliza rgba para asignar el valor
 */

/** EJERCICIO 8.3 -- Artículo principal 
    - Ancho de 470 pixels
    - Alto de 400 pixels
    - Debe heredar la posición y el tamaño del fondo del padre
    - Imagen de fondo taigo.jpg
*/

/** EJERCICIO 8.3.1 -- titulo del artículo principal 
    - Tamaño de fuente 18 puntos
*/

/** EJERCICIO 8.3.2 -- autor del artículo principal 
    - Tamaño de fuente 14 puntos
*/

/** EJERCICIO 8.4 -- Contenedor de artículos secundarios
    - Esta configuración aplica a todos los artículos secundarios
    - Utiliza flex para organizar el contenido. 
    - Utiliza desbordamiento para colocar los artículos
    - El tamaño de este contenedor será 470 x 400 pixels
*/

/** EJERCICIO 8.5 -- Configuración de los artículos secundarios 
    - Los artóculos serán de 215 x 190 pixels
    - La imagen de fondo será ajustada para ocupar todo el contenedor

*/

/** EJERCICIO 8.5.1 -- titulo del artículo secundario
    - Tamaño de fuente 12 puntos
*/

/** EJERCICIO 8.5.2 -- autor del artículo secundario
    - Tamaño de fuente 10 puntos
*/

/** EJERCICIO 8.6 -- Imágenes de fondo
    - Asigna las imágenes al fondo de cada uno de los artículos
      utilizando para ello nth-child donde sea posible. Si no pudieras
      utiliza un selector de clase.

    - En orden, las imágenes son
        taigo.jpg
        estaciones_recarga.jpg
        marcas_populares.jpg
        coche_sostenible.jpg
        renault4-remake.jpg
*/

/** EJERCICIO 8.7 -- Resaltar lso elementos al pasar el ratón por encima
    las reglas en los subapartados */

/** EJERCICIO 8.7.1 -- todos los artículos
    - color de borde lightblue
*/

/** EJERCICIO 8.7.2 -- los titulos 
    - color de texto lightblue
*/

/** EJERCICIO 8.7.3 -- Los autores 
    - color de texto lightblue
*/


/******************************************************************************************/
/* GRID MARCAS SEGUNDA MANO                                                               */
/******************************************************************************************/

/** EJERCICIO 9 -- Segunda mano */

/** EJERCICIO 9.1 -- Contenedor de sección 
    Es el contenedor que contiene todo menos el título. Tendrá las siguientes propiedades

        - Utiliza flex para organizar el contenido
        - Imagen de fondo segundamano.jpg
        - Fondo configurado para ajustarse y ocupar todo el fondo
        - Bordes inferiores redondeados con 10px 
        - Relleno de 10 px en todos los lados
*/


/** EJERCICIO 9.2 -- Rejilla marcas 
    - Organiza el contenido utilizando una rejilla
    - La rejilla tiene que tener 7x3 casillas de 94 pixels de anchoxalto
    - Debe tener un margen izquierdo y derecho de 15 pixels

*/


/** EJERCICIO 9.2.1 -- Iconos 
    - Esta regla debe aplicarse a todas las casillas
    - Utiliza flex para organizar el contenido
    - Borde de 2 pixels
    - El borde no debe ser visible

*/


/** EJERCICIO 9.2.1.1 -- Iconos al pasar el ratón por encima
    Escribe aquí la regla necesaria para cambiar el color de borde al pasar
    por encima de los iconos. Debe

        - El icono no debe desplazarse
        - El color del borde debe ser yellow
*/



/** EJERCICIO 9.2.1.2 -- Colocar los iconos 
    Pon debajo de este comentario las reglas para colocar las fichas
    tal y como aparecen en la página. Dejo las coordenadas en el mismo
    orden que aparecen en la página para facilitarte el trabajo

    2,2
    1,3
    3,3
    6,2
    7,3
    5,1
    5,3
    3,1
    4,2
*/



/******************************************************************************************/
/* Titulares */
/******************************************************************************************/

/** EJERCICIO 10 -- Titulares
    Los titulares hacen referencia a la sección donde aparecen pequeños titulares
*/

/** EJERCICIO 10.1 -- Contenedor de un articulo 
    - Aplicar esta regla a todos los artículos en esta sección. Al elemento que los contiene
    - Color de borde lightblue
    - Ancho de borde 2 pixels
    - Relleno 10 pixels en todos los lados
    - Borde redondeado de 10 pixels
    - Margen inferior de 5 pixels
*/

/** EJERCICIO 10.2 -- Contenedor al pasar el ratón por encima 
    - Color de borde blue
*/

/** EJERCICIO 10.3 -- Imagen 
    - Ponla a la izquierda de modo que el texto la rodee
    - Dimensiones 65x40 pixels
    - Margen derecho e inferior de 5 pixels
    - Borde redondeado de 10 pixels

*/

/** EJERCICIO 10.4 -- Título 
    - Fuente Lucida Sans
    - Color de texto darkblue
    - margen inferior de 8 pixels
*/

/** EJERCICIO 10.5 -- Resumen/texto del artículo 

    - Tamaño de fuente 10 puntos
*/


/******************************************************************************************/
/* NUESTROS SERVICIOS */
/******************************************************************************************/

/** EJERCICIO 11.1 -- Contenedor
    - Esto aplica al elemento que contiene esta sección
    - Utiliza flex para organizar el contenido
    - Reparte el espacio libre de forma equitativa
*/


/** EJERCICIO 11.2 -- Servicio
    - Esta regla debe aplicar a cada uno de los servicios en esta sección
    - Utiliza flex para organizar el contenido
    - Debe tener un tamaño de 220x150 pixels
    - El tamaño de fuente será de 15 puntos
    - Color de fuente lightblue
    - Sombra darkblue con 2x2 px de desplazamiento
    - Debe centrar el texto vertical y horizontalmente
    - El fondo debe estar configurado para ocupar todo el espacio
    - Borde redondeado de 10px
    - Ancho de borde de 5 pixels
    - El borde no debe ser visible
*/

/** EJERCICIO 11.2.1 -- Servicio al pasar el ratón por encima 
    - Color de borde lightblue
*/

/** EJERCICIO 11.2.2 -- Texto
    - Esta regla aplicará al texto dentro del articulo. Este elemento tiene
    la finalidad de mejorar la legibilidad

    - Color de fondo negro con alpha 0.6. Utiliza rgba para asignar el valor
    - Padding de 10 pixels a derecha e izquierda
*/

/** EJERCICIO 11.2.3 -- Imágenes 
    - Utiliza nth-chid para asignar las imágenes a cada uno de los servicios
    - Debe ser una imagen de fondo
    - Estas son las imageésn en orden

        reparo.jpg
        parque.jpg
        mejor.jpg
        seguro.webp
*/


/*******************************************************************************************/
/** Pie del sitio web                                                                      */
/*******************************************************************************************/

/* EJERCICIO 12 
    - Utiliza flex para organizar el contenido
    - Fuente en todo el pie será Roboto
    - El tamaño de fuente será 1em en la cabecera
    - El tamaño será de 0.8 em en los enlaces
    - Cada enlace tendrá un margen de 2 pixels arriba y abajo y 0 en los laterales
    - El espacio libre se repartirá de forma que las columnas tengan el mismo espacio alrededor
*/

