* {
    padding: 0.5em 1em;
}

header {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: salmon;
    
}

p {
    background-color:lightblue;
    
    border-color: darkblue;
    border-width: 10px;
    border-style: solid;
}

ul {
    color: plum;
}

li:nth-child(odd) {
    background-color: yellow;
}

span {
    background-color: white;
    
    border-width: 5px;
    border-color: black;
    border-style: solid;
}
