* {
    border-color: black;
    border-width: 1px;
    border-style: solid;

    /* Con esto "machacamos" el margen por defecto de los elementos. Los márgenes por defecto
       pueden no ser adecuados o muy grandes de modo que es mejor definir un valor por defecto adecuado
       para nuestro sitio */
    margin: 0px;

    /* Igual que para el margen, establecer el relleno por defecto para nuestro sitio sería una buyena práctica */
    padding: 0px;
    
}

/* Podría ocurrir que algún navegador trate incorrectamente elementos de bloque como elementos de línea
aunque esto no debería ocurrir. Para evitarlo, se puede utilizar una regla como la que sigue */
header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

/*  Especifico como se van a alinear los elementos dentro de la página principal */
body {
    /* Esto afecta únicamente a los elementos en línea como texto o imágenes 
       Esta propiedad es hereditatia.
     */
    text-align: center;

    background-color: gray;
}

#root_div {
    /* Tamaños típicos están 960-980 */
    width: 980px;
    /* Es necesario establecer unos márgenes que los ajusten automáticamente al tamaño del padre 
    de modo que el concenito aparezca centrado.

      Ponemos 15px arriba y abajo y dejamos que izquierdo y derecho se ajusten al tamaño disponible 
    */
    margin: 15px auto;

    /* El texto se alinea a la izquierda en esta caja y subcajas */
    text-align: left;
}

nav {
    background-color: lightgreen;

    float:left;
    width: 200px;
}

main {
    background-color: lightsalmon;

    width: 580px;
    float: left;
}

/* 
  El ancho de cada elemento lo preestablezco para que puedan ser colocados. 
  En la suma hay que tener que ancho + borde + margin + padding no puede sumar más que el ancho total.
*/
aside {
    background-color: lightblue;

    float: left;
    width: 194px;

}