
body {
    background-color: darkgray;
}

header {
    background-color: orange;
    padding: 1em;
}

header > nav {
    background-color: yellow;
    margin: 1em 0;
}

#root_div > nav {
    background-color: yellow;
    margin: 1em;

    width: 20%;

    float: left;
}

main {
    width: 75%;
    float: right;
}

main > article {
    clear: both;    

    width: 95%;

    background-color: skyblue;
    padding: 1em;    
}

article, section {
    display: inline-block;
}

main > article + article {
    margin-top: 1em;
}

main > article > section {
    float: left;
    width: 75%;
    background-color: lightgreen;
}

main > article > section + section {
    margin-top: 0.5em;
}

main > article > aside {
    width: 15%;
    height: 200px;
    float: right;
    background-color: darkgreen;    
}

footer {
    clear: both;
    background-color: orange;
    padding: 1em;
}

footer > nav {
    background-color: yellow;
    margin: 1em 0;
}


