
* {
    box-sizing: border-box;
    margin: 0;    
}

h1 {
    margin-bottom: 10px;
}

#inicializar {
    margin-bottom: 2em;
}

#cuerpo > div {
    margin-bottom: 1em;
}

#cuerpo > div > *, #total * {
    margin-right: 1ch;
    width: 5ch;        
}

input {
    text-align: right;
}

button {
    color: white;
    background-color: darkblue;
}

#registro > .titulo {
    width: 100%;    
    background-color: darkblue;
    color: white;
    text-align: center;
}

#registro > #logger {
    font-size: 7pt;    
    width: 100%;    
}

#total {
    margin-bottom: 10px;
}

#total > .filler {
    float: left;
    width: 60.25ch;
    text-align: right;
}